<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.range.rangEGUard.dao.MemberDao">
<!-- 	<resultMap type="MemberDto" id="usermap"> -->
<!-- 		<result column = "ID" property="id"/> -->
<!-- 		<result column = "pwd" property="pwd"/> -->
<!-- 	</resultMap> -->

	<!-- 모든목록조회 -->
	<select id = "selectAll" resultType = "MemberDto">
		SELECT *
		FROM range_member
	</select>

</mapper>