@font-face {
  font-family: "MinSans-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#banner {
  height: 20vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url() no-repeat center center / cover;
}
