<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.MainboardDao">

<!-- 
글 목록 조회
글 작성
글 수정
상세 글 조회
글 삭제(이용 중지)
글 검색
 -->
 
 
<resultMap type="mainboard" id="boardMap">
	<result column="seq" property="seq"/>
	<result column="category" property="category"/>
	<result column="writer" property="writer"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="reg_date" property="regDate"/>
	<result column="like" property="like"/>
</resultMap>
 
 
 <!-- 카테고리에 해당하는 모든 글 조회 -->
<select id="selectAll" parameterType="java.util.HashMap" resultMap = "boardMap">
	SELECT * FROM range_mainboard WHERE category = #{category} AND
	<if test="mode == 1">
			title LIKE CONCAT('%', #{keyword}, '%')
			OR content LIKE '%${keyword}%'
	</if>
	<if test="mode == 2">
			writer LIKE '%${keyword}%'
	</if>
</select>

<!-- 상세 글 조회 -->
<select id="selectOne" parameterType = "int" resultMap = "boardMap">
	SELECT * FROM range_mainboard WHERE seq = #{seq}
</select> 

<!-- db에 board생성 -->
<insert id="insertBoard" parameterType = "mainboard">
	INSERT INTO range_mainboard 
	VALUES(#{seq},#{category},#{writer},#{title},#{content},now(),#{like})
</insert>

<!-- 글 수정 -->
<update id="updateBoard" parameterType = "mainboard">
	UPDATE range_mainboard SET
	category = #{category},
	title = #{title},
	content = #{content}
</update>
 

<delete id="deleteBoard" parameterType = "int">
	DELETE FROM range_mainboard WHERE seq = #{seq}
</delete>


 
</mapper>