<!doctype html>
<html lang="en">

<head>
    <div onload-html="../base/theme.html"></div>
    <link href="../../resources/css/board.css" rel="stylesheet">
</head>

<body style="background-color:#f8f8fa;">
    <div id="banner" class="text-light text-md-right text-center banner"></br></br></br>
        <h1 class="display-4 banner-heading">Welcome to Board</h1>
        <p class="lead banner-par">Test banner page</p>
    </div>
    <main>
        <div class="row mt-3">
            <div id="list-category" class="ms-5 col-sm-2 list-group">
                <!-- <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-1" id="list-item-1">💼 커리어 고민</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-2" id="list-item-2">🍯 꿀팁</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-3" id="list-item-3">🔮 콘텐츠 추천</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-4" id="list-item-4">📣 마케팅</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-5" id="list-item-5">🎨 디자인</a>
                <a class="list-group-item l ist-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-6" id="list-item-6">💻 개발</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-7" id="list-item-7">🔍 HR</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-8" id="list-item-8">🌈 일상</a>
                <a class="list-group-item list-group-item-action" href="#" onclick="categoryChange(this.id)"
                    name="list-item-9" id="list-item-9">🎢 유머</a> -->
            </div>
            <div class="col mx-5">
                <div class="justify-content-md-center w-75 border" style="background-color: white;height: 100%;">
                    <form class="row justify-content-center mt-3">
                        <div class="col-9">
                            <input type="text" class="form-control" id="inputComment" placeholder="자유롭게 이야기해주세요.">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark p-1" id="commentBtn" onclick="enterComment()">
                                <svg width="24" height="24">
                                    <path fill="currentColor"
                                        d="M17.21 2.23a.75.75 0 0 1 1.07-.01l3.5 3.5a.75.75 0 0 1 .011 1.05l-12 12.5a.75.75 0 1 1-1.082-1.04l8.062-8.398-2.451-2.451L4.5 17.553V20h2.75a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75v-3.5a.75.75 0 0 1 .21-.52zm.55 1.59-2.397 2.482 2.447 2.447 2.39-2.488-2.44-2.441z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </form>
                    <hr>
                    <div class="" id="">
                        <ul id="comments">
                            <li><b>강&nbsp;</b>안녕하세요</li>
                        </ul>
                    </div>

                </div>
            </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../../resources/js/board.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../base/onload.js"></script>
    <script>
        includeHTML();
    </script>
</body>

</html>