<!doctype html>
<html lang="en">



<head>
  <div onload-html="../base/theme.html"></div>

</head>


<body>
  <main>

    <!--Carousel-->
    <!-- Profile Modal -->
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../resources/img/animal/carousels/RangEBackImg3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-sm-block">
            <h5>Range Guardians can enter Nekarakubae.</h5>
            <p>Because we have Ya-ong steward. Welcome to praivate space.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../resources/img/animal/carousels/RangEBackImg6.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-sm-block">
            <h5>Range Gardians will reach to Diamond.</h5>
            <p>Because we always turf the baekjoon garden.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../resources/img/animal/carousels/RangEBackImg8.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-sm-block">
            <h5>Range is not a python language.</h5>
            <p>Range is the cutest cat in the world.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-flex flex-column align-items-center my-3 text-center">
      <h1>아아아</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="card my-2 mx-2 by-2 bx-2 ">
            <h5 class="card-title">ABCD</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque officia repellat
              voluptas dolorem deleniti, a exercitationem, quas libero quasi dolor incidunt delectus blanditiis, optio
              repudiandae eaque molestiae possimus sequi quisquam.</p>
            <a href="" class="my-2 mx-2 by-2 bx-2 btn btn-dark text-light">채용</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col">
              <div class="card my-2 mx-2 by-2 bx-2 ">
                <h5 class="card-title">ABCD</h5>
                <p class="card-text">abcbakjhwehfaowehfawjeflwae</p>
                <a href="" class="my-2 mx-2 py-2 px-2 btn btn-dark text-light">채용</a>
              </div>
            </div>
            <div class="col">
              <div class="card my-2 mx-2 by-2 bx-2">
                <h5 class="card-title">ABCD</h5>
                <p class="card-text">abcbakjhwehfaowehfawjeflwae</p>
                <a href="" class="my-2 mx-2 by-2 bx-2 btn btn-dark text-light">채용</a>
              </div>
            </div>
            <div class="col">
              <div class="card my-2 mx-2 by-2 bx-2 ">
                <h5 class="card-title">ABCD</h5>
                <p class="card-text">abcbakjhwehfaowehfawjeflwae</p>
                <a href="" class="my-2 mx-2 by-2 bx-2 btn btn-dark text-light">채용</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!--footer-->
  <div>
    <img src="rangEGuard\src\main\webapp\resources\img\subicon\up-arrow.png" alt="">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../base/onload.js"></script>
  <script>
    includeHTML();
  </script>


</html>