@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @media screen and (max-width: 1439px)
.cont_home .section_home .wrap_item:last-child {
    min-width: 0;
    max-width: 327px;
} */
  
html,
body {
    height: 100%;
    font-family: 'MinSans-Medium';
    overflow-y: scroll;
    
}
  